#work {
    background-image:linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.95)), url('../../assets/home2.jpg');   
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    margin-top: 2rem;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.252);
    border-radius: 20px;
}

#work h2{
    margin-bottom: 5rem;
    color: white;
    margin-top: -5rem;
}

.work__filters {
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    margin-bottom: 2.5rem;
}

.work__items {
    cursor: pointer;
    font-weight: var(--font-bold);
    transition: 0.3s;
    margin-bottom: 5rem;
    color: white;
    margin-top: -4rem;
}

.work__items:hover {
    color: var(--first-color);
}

.work__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
}

.work__card {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.work__mask {
    background: #6c6ce5;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    opacity: 0;
}

.work__card:hover .work__mask {
    opacity: 0.9;
}

.work__category {
    color: white;
    background-color: var(--first-color);
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius: 0.98rem;
    position: absolute;
    top: 0;
    left: 1.5rem;
    font-size: var(--small-font-size);
    display: inline block;
    padding: 0.19rem 0.625rem;
    transform: translateY(-40px);
    transition: 0.3s;
}

.work__title {
    color: white;
    font-size: var(--h3-font-size);
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 3.75rem;
    transform: translateY(30px);
    transition: 0.3s;
    opacity: 0;
}

.work__button {
    color: white;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: var(--h3-font-size);
    display: block;
    background-color: #ffd15c;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    transition: 0.3s;
    opacity: 0;
}

.work__card:hover .work__button {
    opacity: 1;
}

.work__card:hover .work__title,
.work__card:hover .work__button {
    opacity: 1;
}